<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>@ViewBag.Title</title>
  <link href="~/css/bootstrap.min.css" rel="stylesheet">  
  <link href="~/css/style.css" rel="stylesheet">
</head>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" asp-controller="Employee" asp-action="Index">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-controller="Task" asp-action="Index">Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-controller="Report" asp-action="Index">_6Reports</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>
<body>
<div class="container mt-5"> 
  @RenderBody()
</div>
<footer class="container mt-5">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>© 2022 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/modernizr-2.8.3.js"></script>
<script src="~/js/jquery-3.3.1.js"></script>
@RenderSection("scripts", required: false)
</body>
</html>
