[submodule "Web-Programming"]
	path = web
	url = https://github.com/fadyat/itmo-web
[submodule "Dev-Tools"]
	path = devtools
	url = https://github.com/fadyat/itmo-devtools
[submodule "Computer-graphics"]
	path = cgg
	url = https://github.com/fadyat/itmo-cgg
[submodule "mpp"]
	path = mpp
	url = https://github.com/fadyat/itmo-mpp
[submodule "db-design"]
	path = db-design
	url = https://github.com/fadyat/itmo-db-design
[submodule "modern-issues-cs"]
	path = cs-issues
	url = https://github.com/fadyat/speedy
[submodule "software-design"]
	path = software-design
	url = https://github.com/fadyat/itmo-software-design
[submodule "information-security"]
	path = information-security
	url = https://github.com/fadyat/itmo-information-security
[submodule "linux"]
	path = linux
	url = https://github.com/fadyat/itmo-linux
[submodule "data-analysis"]
	path = data-analysis
	url = https://github.com/fadyat/itmo-data-analysis
[submodule "software-testing"]
	path = software-testing
	url = https://github.com/fadyat/itmo-software-testing
