[submodule "Web-Programming"]
	path = web
	url = https://github.com/fadyat/itmo-web
[submodule "Dev-Tools"]
	path = dev-tools
	url = https://github.com/fadyat/itmo-devtools
[submodule "Computer-graphics"]
	path = cgg
	url = https://github.com/fadyat/itmo-cgg
